<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- 
        link css js
     -->
    {% include 'head/css.html' %}

    <!-- 
        font
     -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!-- 
        ionsicons
     -->
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body class="font-[Poppins] bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] h-screen">
    <header class="bg-white">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div class="flex items-center text-center">
                <img class="h-20 w-20" src="../static/img/pc-conglo.png" alt="">
                <a href="">
                    PC-CONGLOMERAT
                </a>
            </div>
            <div class=" nav-links md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="">Acueil</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="">Informations</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="">Aide</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="">A propos</a>
                    </li>
                    <li>
                        <button class="hover:text-gray-500">  Connexion</button>
                    </li>
                    <li>
                        <button class="bg-gray-950 text-white px-5 py-2 hover:text-gray-950 hover:bg-white rounded-full"> inscription </button>
                    </li>
                </ul>
            </div>
            <div>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-4xl cursor-pointer md:hidden"></ion-icon>
            </div>
            
        </nav>
   
    </header>
    {% block content %}{% endblock %}
    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e){
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
</body>
</html>