
{% extends 'main/base.html' %}
{% block title %} Inscription {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class=" min-h-screen bg-gray-100 justify-center sm:py-12">
    <div class="items-center text-center">
        <h1 class="pb-4 text-3xl font-bold ">Inscription</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container">
            <form method="POST" name="signup" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="pb-4 shadow-lg m-10 p-4">
                    <div class="grid grid-cols-2 gap-2">
                        <div class="ml-4 text-left">
                            <label>Nom</label>
                            <input type="text" name="first_name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="" type="text" placeholder="Entre votre nom" pattern="[A-Za-z]+" required>
                        </div>
                        <div class="text-left">
                            <label >Prenom</label>
                            <input type="text" name="last_name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="" type="text" placeholder="Entre votre Prenom" pattern="[A-Za-z]+" required>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 text-left ml-4">
                        <label >Email</label>
                        <input type="email" name="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="" type="text" placeholder="Entre votre email de connexion" required>
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                        <div class="ml-4 text-left">
                            <label>Mot de passe</label>
                            <input type="password" name="password1" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="" type="password" placeholder="Veuillez entrer votre mot de passe" required>
                        </div>
                        <div class="text-left">
                            <label >Confirmez votre mot de passe</label>
                            <input type="password" name="password2" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="" type="password" placeholder="Confirmer votre mot de passe" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Inscription" class="w-1/4 px-3 py-2 bg-black text-white duration-300 hover:bg-transparent hover:text-black hover:shadow-lg rounded-lg">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('inscription reussi')
    window.location= ('{% url 'empl_login' %}')
</script>
{% endif %}
{% if error == "yes"  %}
<script>
    alert('quelaue chose ne va pas veuiller reprendre a nouveau')
    window.location= ('{% url 'empl_login' %}')
</script>
{% endif %}

<script>
    function checkpassword() {
        if (document.signup.password1.value!=document.signup.password2.value) {
            alert('les mots de passe ne correspondent pas');
            document.signup.password2.focus();
            return false;
        }
        return true;
    }
</script>

{% endblock %}